@import "../settings/_settings.scss";

$width-1000: "only screen and (max-width : 62.500em)";
$width-810: "only screen and (max-width : 50.625em)";
$width-760: "only screen and (max-width : 47.500em)";
$max-701: "only screen and (max-width : 43.813em)";

header {
	width: 100%;
	position: fixed;
	top: 0;
	z-index: 999;
	background-color: rgba(#222, 0);
	@include transition-property(height);
	@include transition-property(background-color);
	@include transition-duration(0.3s);
	padding: em(20);
}
 
.logo-wrapper {
	float: left;

	img {
		@include transition-property(opacity);
		@include transition-property(max-width);
		@include transition-duration(0.3s);
	}
}

#sticky-logo {
	position: relative;

	img {
		position: absolute;
		opacity: 0;
	}
}

img#default-logo {
	opacity: 1;
	max-width: em(390);
}

header.smaller {
	padding: em(16) em(16);
	background-color: rgba(#222, .7);
	box-shadow: 0 em(1) em(4) 0 #000;
	height: em(105);

	#sticky-logo {
		img {
			opacity: 1;
			max-width: em(270);
		}
	}

	img#default-logo {
		opacity: 0;
		max-width: em(270);
	}
}

@media #{$width-1000} {
	img#default-logo {
		max-width: em(280);
	}

	header.smaller {
		height: em(95);
		padding: em(12) em(16);

		#sticky-logo img,
		img#default-logo {
			max-width: em(240);
		}
	}
}

@media #{$width-810} {
	.logo-wrapper {
		padding-left: 0;
	}

	img#default-logo {
		max-width: em(240);
	}

	header.smaller {
		height: auto;

		#sticky-logo img,
		img#default-logo {
			max-width: em(210);
		}
	}
}

@include media($width-770) {
	.logo-wrapper {
		@include span-columns(3 of 10);
	}

	img#default-logo {
		max-width: 100%;
	}

	header.smaller {
		#sticky-logo img,
		img#default-logo {
			max-width: 80%;
			height: auto;
		}
	}
}


@include media($width-610) {
	header {
		padding: em(16) 0 0;
		text-align: center;
		position: absolute;

		img#default-logo {
			max-width: em(220);
			width: 100%;
		}
		
		#sticky-logo {
			img {
				display: none;
			}
		}
	}

	header#white {
		background-color: rgba(#222, .7);
		box-shadow: 0 em(1) em(4) 0 #000;
	}

	header.smaller {
		display: none;
		visibility: hidden;
	}

	.logo-wrapper {
		float: none;
		@include span-columns(8 of 8);
		margin-bottom: em(16);
	}
}

