@import "../settings/_settings.scss";

.area-widget {
	@include span-columns(8 of 16);
	padding: em(16);
	text-align: center;
	margin-bottom: em(18);

	@include media($medium) {
		@include span-columns(8 of 10);
		@include shift(1);
	}

	@include media($small) {
		width: 100%;
		@include shift(0);
		padding: em(10);
	}
}

.area-widget#east-end {
	@include omega;
}