@import "../../settings/_settings.scss";

$max-701: "only screen and (max-width : 701px)";


#index {
	.hero {
		.hero-text {
			padding: 0;

			h1 {
				margin-bottom: rem(22);
			}

			a#call-to-action {
				font-size: rem(28);
			}
		}
	}	
}



@include media($width-770) {
	#index {
		.hero {
			.hero-text {
				h1 {
					margin-bottom: rem(10);
				}

				a#call-to-action {
					font-size: rem(22);
					padding: rem(13) rem(26) rem(16);
				}
			}
		}	
	}
}

@media #{$max-701} {
	#index {
		.hero {
			.hero-text {
				a#call-to-action {
					font-size: rem(20);
					padding: rem(9) rem(26) rem(12);
				}
			}
		}	
	}
}

@include media($width-610) {
	#index {
		.hero {
			background: $brick-gray url('#{$url}/img/sets/ominous-downtown/hero/ominous-downtown@mobile.jpg') center top;

			.hero-text {
				top: 55%;
				padding-bottom: 0;
				
				a#call-to-action {
					font-size: rem(18);
				}
			}
		}
	}
}




