@import "../../settings/_settings.scss";


#hero {
	padding-top: 400px;
	background: url('/img/index/hero/hero.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 50%;
	overflow: hidden;
	display: block;
	margin: 0 auto 2.5em;
	width: 100%;
	max-height: 600px;
	box-shadow: 0px em(1) em(4) 0px #000;

	h1 {
		@include span-columns(5.5 of 10); 
		border-right: 4px solid #ddd;
		line-height: 1em;
		padding: 1.25rem 1rem 1.2rem 0;
		text-align: right;
		color: #fff;
		text-shadow: $two-r $two-r $one-r $dark-shadow;
	}

	.c2a {
		@include span-columns(4.5 of 10);
	}

	#daily-post {
		font-weight: bold;
		font-size: $h3-size;
		background: #D8D8D8;
		border: em(1) solid #979797;
		text-shadow: $two-r $one-r $one-r $light-shadow;
		@include transition-property(background);
		@include transition-duration(0.23s);

		&:hover {
			text-shadow: em(1) em(1) 0 #fff;
			background: #bbb;
		}
	}

	@include media($large) {
		.c2a {
			padding-top: .65em;
		}
		
		#daily-post {
			font-size: $h4-size;
		}
	}

	@include media($medium) {
		h1 {
			padding: 0.750rem $ten-r 1rem;
		}

		h1,
		.c2a {
			@include span-columns(5 of 10);
		}

		.c2a {
			padding: $two 3.438rem 0 0; //2px 55px 0 0
		}
	}
}

#hero:after {
	content: "";
	display: block;
	padding-bottom: 50%;
}

