

.post-banner {
	height: em(400);
	width: 100%;
	background-color: $brick-gray;
	border-bottom: em(1) solid #2D2D2D;
	borer-top: em(1) solid #2D2D2D;
	border-left: em(2) solid #000;
	border-right: em(2) solid #000;
	box-shadow: inset 0px em(-2) em(5) 0px #000;
	margin-bottom: em(24);
	position: relative;

	h1 {
		position: absolute;
		bottom: 0;
		text-align: center;
		width: 100%;
	}

	@include media($large) {
		height: em(330);
	}
}

.post-banner#abandoned-east-end-warehouse {
	background-position: top auto;
	background-repeat: no-repeat;

	background: url('/img/posts/east-end-warehouse/header/default.jpg');
	background-attachment: fixed;

	@include media($large) {
		background: url('/img/posts/east-end-warehouse/header/large.jpg');
		background-attachment: fixed;
	}

	@include media($small-plus) {
		background: url('/img/posts/east-end-warehouse/header/small-plus.jpg');
		background-attachment: fixed;
	}
}



