@import "neat-helpers";


// PARTIALLY INSPIRED BY BOOTSTRAP | VALUES CHANGE BASED ON PROJECT

$width-1070: new-breakpoint(max-width em(1070) 12); // RED - Landscape iPad

$width-970: new-breakpoint(max-width em(970) 10);  // PURPLE - Standard 960px

$width-770: new-breakpoint(max-width em(770) 10);  // BLUE - Portrait iPad

$width-610: new-breakpoint(max-width em(610) 8); // YELLOW - Certain Landscape Androids

$width-480: new-breakpoint(max-width em(480) 8); // GREEN - Generic Mobile Landscape

$width-320: new-breakpoint(max-width em(320) 6); // PURPLE - Generic Mobile Portrait

