
// Typography Variables
$text-color: #333;
$link-color: #222;
$hr-color: #ccc;

$baseline: 1.4rem; // 22px

$header-font-family: 'Droid Sans', sans-serif;
$header-font-weight: 400;
$body-font-family: 'Droid Sans', sans-serif;
$body-font-weight: 400;

$h5-h6-letter-spacing: 1.2;

// PERFECT FOURTH //
$h1-size: em(50); 
$h2-size: em(37); 
$h3-size: em(28); 
$h4-size: em(21); 
$h5-size: em(16); 
$h6-size: em(12);





// Button Variables
$btn-radius: 6px;
$btn-small-font: .75em;
$btn-large-font: 2em; //2em
$btn-bg: #ccc;
$btn-bg-hover: #eee;
$btn-text: #2d2d2d;
$btn-text-hover: #000;

// Colors
$brick-gray: #F7F6FC;
$matrix-green: #425049;
$box-shadow: #2D2D2D;
$dark-shadow: #272C2D;
$light-shadow: #f1f0f0;


//Alpha Transparancies
$a-zero: 0;
$a-one: 0.1;
$a-two: 0.2;
$a-three: 0.3;
$a-four: 0.4;
$a-five: 0.5;
$a-six: 0.6;
$a-seven: 0.7;
$a-eight: 0.8;
$a-nine: 0.9;
$a-full: 1;

// Custom Pixel Widths
$one: 0.063em;
$one-r: 0.063rem;
$two: 0.125em;
$two-r: 0.125rem;
$three: 0.188em;
$three-r: 0.188rem;
$-three: -0.188em;
$four: 0.250em;
$four-r: 0.250rem;
$five: 0.313em;
$five-r: 0.313rem;
$six: 0.375em;
$six-r: 0.375rem;
$seven: 0.438em;
$seven-r: 0.438rem;
$eight: 0.500em;
$eight-r: 0.500rem;
$nine: 0.563em;
$nine-r: 0.563rem;
$ten: 0.625em;
$ten-r: 0.625rem;
$twenty: 1.250em;
$twenty-r: 1.250rem;

// BOX-SHADOW VALUES //
$z-1: 0 rem(1) rem(4) 0 rgba(0,0,0,0.37);
$z-2: 0 rem(2) rem(2) 0 rgba(0,0,0,0.20), 0 rem(6) rem(10) 0 rgba(0,0,0,0.30);
$z-3: 0 rem(11) rem(7) 0 rgba(0,0,0,0.19), 0 rem(13) rem(25) 0 rgba(0,0,0,0.30);
$z-4: 0 rem(14) rem(12) 0 rgba(0,0,0,0.17), 0 rem(20) rem(40) 0 rgba(0,0,0,0.30);
$z-5: 0 rem(17) rem(17) 0 rgba(0,0,0,0.15), 0 rem(27) rem(55) 0 rgba(0,0,0,0.30);